<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<!-- <script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


	<!-- Navbar -->
	<!-- <nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> <img 
			src="/images/mcd.jpg" width="30"
			height="30" class="d-inline-block align-top" alt=""> 
		</a>
		Navbar content
		<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
	</nav> -->
	
	
	<nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
    <a href="/home" class="navbar-brand">
        <img src="images\shop.png" width="56" height="56" alt="shopping">
    </a>
    <a href="/home" class="nav-item nav-link active"><h1></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
     <ul class="nav navbar-nav navbar-right" >
        
        <li class="nav-item active" >
          <a class="nav-link"  href="index.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home.html">SignUp</a>
        </li>
      </ul>
 </nav>
   <a href="/">
        <img src="images/T-Shirt.jpg" alt="shopping" class="img1"><br>
         T-shirts
    </a>
  
        
 




</body>
</html>