<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <base href="/spring-boot-data-jpa/">-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<script src="/js/emp.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">

</head>
<div class="container">
	<h3>Search</h3>
	<input class="form-control mb-4" id="tableSearch" type="text"
		ng-model="search" placeholder="Type something to search list items">
	<body ng-app="empApp" ng-controller="Appcontroller">

		<div>
			<table class="center">
				<thead>
					<tr>
						<th scope="col">Employee ID</th>
						<th scope="col">Employee Name</th>
						<th scope="col">Employee Salary</th>
						<th scope="col">Employee Designation</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in emplist | filter:search">
						<td>{{emp.id}}</td>

						<td>{{emp.name}}</td>
						<td>{{emp.salary}}</td>
						<td>{{emp.designation}}</td>

						<td><button ng-click="edit(emp)" onclick="updateForm()"
								class="blue-button">Update</button>
							<button ng-click="delete(emp)" class="red-button">Delete</button></td>
					</tr>

				</tbody>
			</table>
			<br></br>

		</div>

		<!-- Button ADD-->
		<div class="container1">
			<button onclick="createForm()" class="button1">ADD</button>
			<!-- 			<a href="#" class="button1" ng-click="openForm()">ADD</a>
 -->
		</div>

		<!-- Pop up window form  for create Employee-->

		<div class="popup" id=createform>
			<div class="popup-content">
				<button style="float: left;" class="blue-button" onclick="goBack()">Back</button>

				<h4>Create Employee</h4>
				<img src="/images/close.jpg" height:"40px" width:"40px"  alt="Close"
					class="close"> <label class="control-label col-md-2">Name:</label>

				<input type="text" ng-model="emp.name" placeholder="Name" /> <br>
				<label class="control-label col-md-2">Salary:</label> <input
					type="text" ng-model="emp.salary" placeholder="Salary" /> <br>
				<label class="control-label col-md-2">Designation:</label> <input
					type="text" ng-model="emp.designation" placeholder="Designation" /><br>

				<button ng-click="createEmployee()" class="blue-button">save</button>
				<button ng-click="updateEmployee()"class="blue-button">Update</button>


			</div>
		</div>



		<!-- Pop up window form  for update Employee-->

		<div class="popup" id="updateform">
			<div class="popup-content">
				<button style="float: left;" class="blue-button" onclick="goBack()">Back</button>

				<h4>Update Employee</h4>
				<img src="/images/close.jpg" height:"40px" width:"40px"  alt="Close"
					class="close"> <label class="control-label col-md-2"><h5>Name:</h5></label>

				<input type="text" ng-model="emp.name" placeholder="Name" /> <br>
				<label class="control-label col-md-2"><h5>Salary:</h5></label> <input
					type="text" ng-model="emp.salary" placeholder="Salary" /> <br>
				<label class="control-label col-md-2"><h5>Designation:</h5></label> <input
					type="text" ng-model="emp.designation" placeholder="Designation" /><br>

				<button ng-click="createEmployee()" class="button">save</button>
				<button ng-click="updateEmployee()" class="button">Update</button>


			</div>
		</div>
		<!-- <form>
				<h4>Create Employee</h4>
				
				<div class="form-group">
					<label class="control-label col-md-2">Name:</label>
					<div class="col-md-4">
						<input type="text" class="form-control" ng-model="emp.name"
							placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Salary:</label>
					<div class="col-md-4">
						<input type="text" class="form-control" ng-model="emp.salary"
							placeholder="" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2">Designation:</label>
					<div class="col-md-4">
						<input type="text" class="form-control"
							ng-model="emp.designation" placeholder="" />
					</div>
				</div>
				<div class="col-md-offset-2 col-md-10">
					<button ng-click="createEmployee()" class="button">save</button>
					<button ng-click="updateEmployee()" class="button">Update</button>
					
 </div></form> -->
</div>

<script>
	/*  document.getElementById("button1").addEventListener("click",function(){
	   document.querySelector(".popup").style.display="flex"; })
	 */
	function goBack() {
		window.history.go();
	}

	function createForm() {
		document.getElementById("createform").style.display = "flex";
		document.querySelector(".close").addEventListener("click", function() {

			document.querySelector(".popup").style.display = "none";
		})

	}

	function updateForm() {
		document.getElementById("updateform").style.display = "flex";
		document.querySelector(".close").addEventListener("click", function() {

			document.querySelector(".popup").style.display = "none";
		})

	}
</script>


</body>
</html>
